menu {
  background-color: rgba(97, 97, 97, 0.15);
  box-shadow: 0px -23px 57px -5px rgba(0, 0, 0, 0.44);

  margin: 0;
  padding: 1%;
  text-align: right;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0;
}
#align-left {
  float: left;
  padding: 0;
  margin-left: 3%;
}
#align-right {
  margin-right: 3%;
}
a {
  text-decoration: none;
  color: white;
  padding: 1%;
}
a:hover {
  background-color: rgba(255, 255, 255, 0.35);
  transition: all 0.6s ease;
}

#align-left:hover {
  background-color: rgba(255, 255, 255, 0);
}
.blog-headings {
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  font-family: "Space Mono", monospace;
  font-size: 600%;
  padding-top: 5%;
  background: linear-gradient(
    90deg,
    rgba(208, 241, 155, 1) 0%,
    rgba(81, 210, 115, 1) 25%,
    rgba(49, 90, 255, 1) 50%,
    rgba(255, 19, 69, 1) 75%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 26px rgba(119, 118, 118, 0.2);
}

h2 {
  font-weight: 200;
  margin-top: -15%;
  color: rgb(63, 63, 63);
}

h3 {
  color: rgb(51, 51, 51);
  text-align: center;
  font-size: 200%;
  padding-top: 10%;
}

footer {
  padding: 3%;
  font-size: 70%;
  text-align: center;
}

hr {
  border: 0.5px solid rgb(231, 231, 231);
}

@media only screen and (min-width: 375px) {
  body {
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(
      circle,
      rgb(252, 252, 252) 20%,
      rgba(245, 245, 246, 1) 50%,
      rgb(233, 233, 233) 79%
    );
  }

  .blog-headings {
    margin-left: 10%;
    margin-right: 10%;
  }

  h1 {
    font-size: 400%;
    font-style: italic;
  }
}

@media only screen and (min-width: 1366px) {
  body {
    font-size: 150%;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(
      circle,
      rgb(252, 252, 252) 20%,
      rgba(245, 245, 246, 1) 50%,
      rgb(233, 233, 233) 79%
    );
  }

  .blog-headings {
    margin-left: 20%;
    margin-right: 20%;
  }

  h1 {
    font-family: "Space Mono", monospace;
    font-size: 600%;
  }
}
