* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right,
    rgb(252, 213, 175),
    rgb(246, 252, 198),
    rgb(207, 255, 202),
    rgb(193, 212, 236)
  );
}

menu {
  background-color: rgba(97, 97, 97, 0.15);
  box-shadow: 0px -23px 57px -5px rgba(0, 0, 0, 0.44);

  margin: 0;
  padding: 1%;
  text-align: right;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0;
}
#align-left {
  float: left;
  padding: 0;
  margin-left: 3%;
}
#align-right {
  margin-right: 3%;
}

h1 {
  background: linear-gradient(
    to right,
    rgb(252, 213, 175),
    rgb(246, 252, 198),
    rgb(207, 255, 202),
    rgb(193, 212, 236)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a {
  text-decoration: none;
  color: white;
  padding: 1%;
}
a:hover {
  background-color: rgba(255, 255, 255, 0.35);
  transition: all 0.6s ease;
}
#align-left:hover {
  background-color: rgba(255, 255, 255, 0);
}

.transparent-overlay {
  background-color: rgba(255, 255, 266, 0.85);
}

#social-link {
  color: rgb(95, 95, 95);
  font-size: 100%;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 0.5px solid rgb(231, 231, 231);
  border-radius: 5px;

  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: black;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: 1.3px solid black;
  padding: 1.5%;
  display: inline-block;
  font-size: 100%;
  margin-bottom: 5%;
  min-width: 10%;
  transition: all 0.25s ease-in-out;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
}
/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#extrainfo {
  line-height: 50%;
  font-weight: 200;
}

footer {
  padding: 3%;
  font-size: 100%;
  text-align: center;
}

hr {
  border: 0.5px solid rgb(231, 231, 231);
}

#extrasocials {
  font-size: 120%;
}
h2 {
  font-size: 250%;
  margin: 0;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 375px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  h1 {
    font-size: 300%;
  }

  #inquiry {
    font-size: 110%;
    padding-bottom: 3%;
    margin: 0 10% 0;
  }

  .supplemental-contactinfo {
    width: 100%;
    float: none;
    padding-bottom: 5%;
    text-align: center;
  }

  form {
    float: none;
    width: 100%;
  }

  .row {
    margin: 0 10% 0;
  }
}
@media screen and (min-width: 1366px) {
  h1 {
    font-size: 500%;
    padding-top: 10%;
    margin: 0 10% 0;
  }

  a {
    font-size: 150%;
  }

  #inquiry {
    font-size: 150%;
    font-weight: 500;
    margin: 0 15% 0;
    padding: 3% 0 3%;
  }

  .supplemental-contactinfo {
    width: 40%;
    float: left;
    text-align: left;
  }

  form {
    float: right;
    width: 50%;
    padding-bottom: 5%;
  }

  .row {
    margin: 0 20% 0;
    padding-top: 5%;
  }

  #extrasocials {
    padding-top: 20%;
  }
}
